.blue{
    display: flex;
    flex-direction:row;
    height: 20%;
}

.blue > div {
    background-color: rgb(38, 143, 141);
    width: 31%;
    margin: 1%;
    flex: space-between;
}

#bluelong{
    background-color: rgb(38, 143, 141);
    height: 35%;
    width: 97%;
    margin: 1%;

}

#green{
    background-color: rgb(182, 220, 129);
    height: 3%;
    width: 97%;
    margin: 1%;
}

.form{
    display: grid;
    grid-template-areas: "";
}

#middle{
    position: relative;
}

.triangle-up{
    width:0px;
    height:100%;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    border-bottom: 90px solid rgb(121, 181, 33);
    z-index:3;
    position: absolute;
    bottom:0;
    right:2%;
    float: right;
}

#tricontainer{
    width: 50%;
}
